# Directories
dataset/

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vscode settings
.vscode/

# Images
*.png 

# Model files
*.h5
*.hdf5
*.pt
*.pth

# output folder WKT files
outputs/**/*.wkt

# specific files
src/cvae_model.py
src/cvae_model_v2.py
data/segs_unet_base.wkt
notebooks/conditional_difusion_models.ipynb
notebooks/notas_outro_modelo.ipynb
notebooks/2_1_CVAE_interpol.ipynb
src/datapreprocessing.ipynb
src/data_preprocessing.py
src/cvae_model.py
src/cvae_model_v2.py
main.py
src/tests.py
*.wkt


# Video files
*.mp4


