# Directories
dataset/

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vscode settings
.vscode/

# Images
*.png 

# Model files
*.h5
*.hdf5
*.pt
*.pth

# output folder WKT files
outputs/**/*.wkt

# specific files
src/cvae_model.py
src/cvae_model_v2.py
data/segs_unet_base.wkt

# Video files
*.mp4


